{% extends "public/base.html" %}

{% load i18n %}
{% load frontend %}

{% block content %}

<div class="pull-right">
  <a href="{% url "project_new_issue" project_id=request.project.pk %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Recent</a></li>
  <li role="presentation"><a href="#">Hot</a></li>
  <li role="presentation"><a href="#">Assigned <span class="badge">{{project.assigned_issue_count}}</span></a></li>
</ul>

<table class="table">

    <tbody data-bind="foreach: issues">
        <td> <a href="#" data-bind="text: summary">{{issue.summary}}</a></td>
        <td> <span data-bind="text: votes"></span> <br/> votes </td>
        <td> {{issue.update_count}}<br/> updates </td>
    </tbody>

    {% if not issues %}
        <td class="text-center text-muted"> {% trans "Congratulations! You have no issues!" %}</td>
    {% endif %}
</table>

{% frontend_context issues "issues" %}


{% endblock %}
